

# Kester Riley
# kesterriley@hotmail.com
# github.com/kesterriley


##################################################################################
## The following Variables are related to the MariaDB instance you wish to test ##
##################################################################################

lv_username=sysbench
lv_password=AGHk3DJxbv8
#lv_host=fin2db2
#lv_host=192.168.10.152
lv_host=127.0.0.1
lv_port=6033

###############################################################
## The following Variables are related to the SysBench Tests ##
###############################################################

# The database name to be created for testing
lv_database=sysbenchtest

# Specify how many threads you would like to test, a space seperated list
lv_threads="1 2 4 16"

# Specify the tests that you would like to run, a space seperated list
lv_test_to_run="oltp_delete oltp_read_write oltp_insert"

# Specify how many records you would like loaded in for the tests
lv_table_size=100000
